*{
    margin:0;
    padding:0;
}

/* ********** NAVIGATION **********  */

nav{
    height:2em;
        border: solid 1px gray;
}
nav ul{
    display:none;
}
#toggle-menu{
    float:right;
}
/* ********** HEADER **********  */

header {
    text-align: center;
    clear:both; /* prevents any element from floating to the right or left of the header */
    background-color: black;
}

header img {
    max-width: 80%;
}
/* ********** LAYOUT **********  */


#large-photo{
    height: 360px;
    color:#fff;
    border: solid 1px gray;
    background-image: url("images/big-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col{
  
}

#merch{
    background-image: url("images/col1-img.gif");
}

#friday{
    background-image: url("images/col2-img.jpg");
}

#sat{
    background-image: url("images/col3-img.jpg");
}
#sun{
    background-image: url("images/col4-img.jpg");
}

/* ********** FOOTER **********  */
footer{
    text-align:center;
}

.row{  /* flex container div */
        display:flex;
        flex-direction: column;
    }

/* ********** FOR LARGER VIEWPORTS (FROM IPAD AND UP) **********  */

@media (min-width:640px){
   
    #toggle-menu{        /* hiding the button */
        display:none;
    }
    
    nav ul {             /* displaying the button */
        display:block;
    }
    
    nav {
        text-align: center;
    }
     
    nav li{
        display: inline-block;
        margin: 0.5em 1em;
    }
    
    .row{  /* flex container div */
        flex-direction: row;
    }
    
    .col{
        width:25%;
    }
    
    .bigcol{
width:75%;
        margin-right:1em;
    }
    
       .smallcol{
width:25%;    }

}




















