---
---

@import "{{ site.theme }}";

.page-header{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#621875+1,621875+24,fb955e+100 */
background: #621875; /* Old browsers */
background: -moz-linear-gradient(top, #621875 1%, #621875 24%, #fb955e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #621875 1%,#621875 24%,#fb955e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #621875 1%,#621875 24%,#fb955e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#621875', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
}
h1.project-name{
  font-size:1.5em;
}

nav.site-header ul{
  padding:0;
}
nav.site-header li{
  display:inline-block; 
  margin:0;
  border-right:solid 1px #fff;
  padding:0 1em;
}

nav.site-header li:last-child{
  display:inline-block; 
  margin:0;
  border:none;
  padding:0;
  padding-left:1em;
}

.page-header a{
  color:#fff;
}


  
  
@media (min-width:64em){
  .page-header{
    padding:4rem 6rem;
  }
  h1.project-name{
  float:left;
}
nav.site-header{
  float:right;
}
.my-posts{
  float:right;
  width:16rem;
  position: -webkit-sticky;  // required for Safari
  position: sticky;
  top: 0; // required as well.
  font-size:smaller;
  background-color:#fff;

}
  .my-posts li{
    list-style-type:none;
  }
    .my-posts li li{
    list-style-type:disc;
  }
.content{
  width:48rem;
}
}
