---
---

@import "{{ site.theme }}";
nav.site-header ul{
  margin:0;
}
nav.site-header li{
  display:inline-block; 
  margin-left:0;
  margin-right: 1em;
}
.page-header a{
  color:#fff;
}

@media (min-width:64em){
.my-posts{
  float:right;
  width:15rem;
  position: -webkit-sticky;  // required for Safari
  position: sticky;
  top: 0; // required as well.
  border:solid 1px green;
  padding:1em;
  padding-left:0;
  font-size:smaller;
  border-radius:10px;
  background-color:#fff;

}
  .my-posts li{
    list-style-type:none;
  }
    .my-posts li li{
    list-style-type:disc;
  }
}
