---
---

@import "{{ site.theme }}";

.page-header{
}

h1.project-name{
  font-size:1.5em;
}

nav.site-header ul{
  padding:0;
}

nav.site-header li{
  display:inline-block; 
  margin:0;
  border-right:solid 1px #fff;
  padding:0 1em;
}

nav.site-header li:last-child{
  display:inline-block; 
  margin:0;
  border:none;
  padding:0;
  padding-left:1em;
}

.page-header a{
  color:#fff;
}

  
@media (min-width:64em){
  .main-content {
    padding: 2rem 4rem;
  }
  .page-header{
    padding:4rem 4rem;
  }
  
  h1.project-name{
  float:left;
}
nav.site-header{
  float:right;
}
.my-posts{
  float:right;
  width:16rem;
  position: -webkit-sticky;  // required for Safari
  position: sticky;
  top: 0; // required as well.
  font-size:smaller;
  background-color:#fff;

}
  
  .my-posts h4{
    text-transform:uppercase;
  }
.my-posts ul{
  padding-left:1rem;
  }
.content{
  width:36rem;
}
}
